/* Welcome Page */
body {
    font-family: Arial, sans-serif;
}
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: aquamarine;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(32, 69, 194);
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.nav-link:hover::after {
    width: 100%;
}
.jumbotron {
    background: url('https://source.unsplash.com/random/1600x900') no-repeat center center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-inner img {
    height: 800px;
    object-fit: cover;
}
.intro-section {
    padding: 60px 0;
}
.intro-section h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}
.intro-section h2:hover {
  color:blue
}
.intro-section p {
    font-size: 1.2rem;
}
.card {
    margin: 20px 0;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 5px 12px lightblue;
    background-color: rgba(0, 0, 255, 0.596);
}
.card-icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
}
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}
.footer-icons a {
    transition: transform 0.3s;
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
}
.footer-icons a:hover {
    transform: scale(1.05);
    color: red;
}


/* My Favorite Personalities */